<link rel="apple-touch-icon" href="somedir/touch-icon-iphone-60x60.png">
<link rel="apple-touch-icon" sizes="60x60" href="somedir/touch-icon-ipad-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="somedir/touch-icon-iphone-retina-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="somedir/touch-icon-ipad-retina-152x152.png">
			
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
